div.infraAreaGlobal{
width: 98% !important;
}

div.infraBarraSistemaD{
padding-top:1em;
}

.protocoloAberto {
color:green;
}

.protocoloFechado {
color:red;
}

.protocoloNormal,
.protocoloAberto,
.protocoloFechado,
.linkFuncionalidade {
text-decoration:none;
padding:.5em;
font-size:1.2em !important;
}

a.protocoloNormal:hover,
a.protocoloAberto:hover,
a.protocoloFechado:hover,
a.linkFuncionalidade:hover{
text-decoration:underline;
}

a.ancoraOpcao{
color:black;
display:block;
text-decoration:none;
padding:.1em .2em .1em .2em;
width:100%;
}

div.infraRotuloMenu, 
div.infraSetaMenu{
color:black;
}


div.infraMenu a{
background-color:#c7c7c7;
}


div.infraMenu a:hover{
background-color:white;
border:.1em solid #dfdfdf;
}

div.tituloProcessoDocumento {
padding-top:0.4em;
padding-bottom:0.4em;
text-align:center;
vertical-align:middle;
width:100%;
color:#666;
background-color:#dfdfdf;
border-bottom:.6em solid white;
overflow:hidden;
}

div.tituloProcessoDocumento label {
font-size:1.4em;
font-weight:bold;
color:#666;
background-color:#dfdfdf;
}

img.botaoSEI{
margin:.1em;
border:.1em solid white;
height:4em !important;
width:4em !important;
}

img.botaoSEI:hover {
border:.1em solid black;
}

a.ancoraSigla{
 /* color:#0000CC; */
 text-decoration:none;
 font-size:1em;
}

a.ancoraSigla:hover{
 text-decoration:underline;
}

a.ancoraPadraoAzul{
padding:0 .5em 0 .5em;
text-decoration:none;
font-size:1.2em;
color: #0066CC;
}

a.ancoraPadraoPreta{
padding:0 .5em 0 .5em;
text-decoration:none;
font-size:1.2em;
color: black;
}

a.ancoraPadraoAzul:hover,
a.ancoraPadraoPreta:hover{
text-decoration:underline;
}


fieldset.infraFieldset{
border:.1em solid black;
}

legend.infraLegend{
background-color:#e5e5e5;
color:black;
border:.1em solid black;
}

label.infraLabelOpcional,
label.infraLabelObrigatorio,
label.infraLabelCheckbox,
label.infraLabelRadio{
color:black;
}

label.infraLabelObrigatorio span.infraTeclaAtalho{
color:black;
}

label.infraLabelOpcional span.infraTeclaAtalho{
color:black;
}

span.infraTeclaAtalho{
color:black;
}

a.ancoraHistoricoProcesso{
font-size:1em;
}

a.ancoraVisualizacaoDocumento{
font-size:1em;
}

input.infraButton, button.infraButton{
border-color: #666 #666 #666 #666;
color:black;
}

input.infraButton span.infraTeclaAtalho,
button.infraButton span.infraTeclaAtalho{
color:black;
}

label.infraLabelObrigatorio span.infraTeclaAtalho{
color:black;
}

.divItemCelula{
  padding:.2em 0 .2em 0;
}

span.spanItemCelula{
	float:left;
	border:.1em solid transparent;
}
	
.divDiamante{
	float:left; 
	width:5%; 
	border:.1em solid transparent;
}


table.infraTable img.infraImg,
table.infraTable img.infraImgNormal,
table.infraTable img.infraImgOpaca{
padding:0 .2em 0 .2em;
}

caption.infraCaption{
color: black;
}

tr.totalEstatisticas {
background-color:#ffffdd;
}

td.totalEstatisticas {
background-color:#ffffdd;
}

div.divAreaGrafico {
float:left;
/* width:100%; */
overflow:auto !important; 
padding-top:.5em;
padding-bottom:1.5em;
font-size:1.2em;
}

/* ******************** */
.infraDivCheckbox{
}

.infraDivRadio{
}

.infraDivCheckbox input,
.infraDivRadio input{
float:left;
}

.infraDivCheckbox label,
.infraDivRadio label{
float:left;
padding-left:.2em;
}

.infraDivCheckbox label{
line-height:1.8em;
}

.infraDivRadio label{
line-height:1.6em;
}

tr.trVermelha{
background-color:#f59f9f; 
}

button.buttonWorkflow{
border: .1em solid red;
}
